#build the docker code 
#Push the image to docker hub
#SSH in to the vm and start the images

name: Deploy the Backend

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push the image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.backend
          push: true
          tags: kedar6011/todo-app-backend:${{ github.sha }}

      # - name: SSH into VM and deploy container
      #   uses: appleboy/ssh-action@v1.0.3
      #   with:
      #     host: ${{ secrets.VM_HOST }}
      #     username: ${{ secrets.VM_USER }}
      #     key: ${{ secrets.VM_SSH_KEY }}
      #     script: |
      #       docker pull kedar6011/todo-app-backend:${{ github.sha }}
      #       docker stop todo-backend || true
      #       docker rm todo-backend || true
      #       docker run -d --name todo-backend -p 8080:8080 kedar6011/todo-app-backend:${{ github.sha }}
